div {
    height: 300px;
    background-color: #000;
    margin: 20px;
    overflow: auto;
    color: #fff;
}

.inner-overflow {
    min-height: 900px;
    min-width: 6000px;
}

.div-2::-webkit-scrollbar {
    width: 100px;
    height: 100px;
    background-color: #FF0000;
}

.div-2::-webkit-scrollbar-button {
    background-color: #FF7F00;
    height: 20px;
    width: 20px;
    border-radius: 100px;
}

.div-2::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: #FFFF00;
}

.div-2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(126, 126, 126, 0.85);
    border-radius: 100px;
    background-color: #00FF00;
}

.div-2::-webkit-scrollbar-track-piece {
    border-radius: 100px;
    background-color: #00FFFF;
}

.div-2::-webkit-scrollbar-corner {
    border-radius: 100px;
    background-color: #0000FF;
}
.div-2::-webkit-scrollbar-button:decrement:hover {
    background: #fff;
}

.div-2::-webkit-scrollbar-button:increment:hover {
    background: #fff;
}
.div-3::-webkit-scrollbar {
    width: 100px;
    height: 100px;
    background-color: #FF0000;
}

.div-3::-webkit-scrollbar-button {
    background-color: #FF7F00;
    height: 20px;
    width: 20px;
    border-radius: 100px;
}

.div-3::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: #FFFF00;
}

.div-3::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(126, 126, 126, 0.85);
    border-radius: 100px;
    background-color: #00FF00;
}

.div-3::-webkit-scrollbar-track-piece {
    border-radius: 100px;
    background-color: #00FFFF;
}

.div-3::-webkit-scrollbar-corner {
    background-color: #0000FF;
}

.div-3::-webkit-resizer {
    border-radius: 100px;
    background-color: #8B00FF;
}

.div-4 {
    /* scrollbar-color: #FF0000;
    scrollbar-3dlight-color: #FF7F00; */
    scrollbar-shadow-color: #00FFFF;
    scrollbar-highlight-color: #00FF00;
    scrollbar-face-color: #ffff00;
    /* scrollbar-darkshadow-color: #0000FF;
    scrollbar-base-color: #8B00FF; */
    scrollbar-arrow-color: #fff;
}

.div-5::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}

.div-5::-webkit-scrollbar-thumb {
    background-color: #7e7e7ed9;
}

.div-5::-webkit-scrollbar-corner {
    background-color: #000;
}

.div-6::-webkit-scrollbar {
    width: 20px;
    background-color: #F5F5F5;
}

.div-6::-webkit-scrollbar-thumb {
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgb(85, 85, 85,0.2);
}

.div-6::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background-color: #F5F5F5;
}

.div-7::-webkit-scrollbar {
    width: 20px;
    background-color: #F5F5F5;
}

.div-7::-webkit-scrollbar-thumb {
    background-color: #AAA;
    border-radius: 20px;
    background-image: -webkit-linear-gradient(120deg, rgba(0, 0, 0, .2) 25%, transparent 6%, transparent 52%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, .2) 75%, transparent 75%, transparent)
}

.div-7::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 20px;
}

.div-8::-webkit-scrollbar {
    width: 20px;
    background-color: #F5F5F5;
}

.div-8::-webkit-scrollbar-thumb:vertical {
    border-radius: 20px;
    background-image: -webkit-linear-gradient(180deg, #4e83ee, #fff, #4e83ee);
}
.div-8::-webkit-scrollbar-thumb:horizontal {
    border-radius: 20px;
    background-image: -webkit-linear-gradient(90deg, #4e83ee, #fff, #4e83ee);
}
.div-8::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 20px;
}

.div-9::-webkit-scrollbar {
    width: 20px;
    height: 20px;
    background-color: #eee;
}

.div-9::-webkit-scrollbar-track {
    background-color: #eee;
}

.div-9::-webkit-scrollbar-thumb:vertical {
    background-image: -webkit-linear-gradient(90deg, #000, #fff, #000);
    border-radius: 20px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

.div-9::-webkit-scrollbar-thumb:horizontal {
    background-image: -webkit-linear-gradient(180deg, #000, #fff, #000);
    border-radius: 20px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

.div-9::-webkit-scrollbar-button {
    width: 20px;
    height: 20px
}

.div-9::-webkit-scrollbar-button:vertical:start {
    background: url(https://qiufeihong-blog.oss-cn-hangzhou.aliyuncs.com/scroll/gif/scroll3.png) no-repeat;
    background-size: 20px 20px;
}

.div-9::-webkit-scrollbar-button:vertical:end {
    background: url(https://qiufeihong-blog.oss-cn-hangzhou.aliyuncs.com/scroll/gif/scroll4.png) no-repeat;
    background-size: 20px 20px;
}

.div-9::-webkit-scrollbar-button:horizontal:start {
    background: url(https://qiufeihong-blog.oss-cn-hangzhou.aliyuncs.com/scroll/gif/scroll5.png) no-repeat;
    background-size: 20px 20px;
}

.div-9::-webkit-scrollbar-button:horizontal:end {
    background: url(https://qiufeihong-blog.oss-cn-hangzhou.aliyuncs.com/scroll/gif/scroll6.png) no-repeat;
    background-size: 20px 20px;
}